body {
    background-color: #a9a9a9;
}

#container {
    display: block;
    background-color: lightgreen;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
}

#container > h1, #buttons, #inputView, #viewView {
    text-align: center;
}

#buttons > button {
    margin: 0 10px;
    font-size: 18px;
}

#inputView > div, #inputView > button {
    margin-top: 10px;
}

#viewView span {
    margin: 10px;
}

#viewView button {
    margin-top: 10px;
}

.hidden {
    display: none;
}

.viewEntry {
    background-color: white;
    border-color: black;
    border-style: solid;
    border-radius: 1px;
    text-align: left;
    padding-left: 10px;
}

.viewEntry:hover {
    background-color: lightgrey;
    cursor: pointer;
}

#displayView {
    margin: 5px auto;
    width: 65%;
}

#displayView p {
    margin: 0;
}

