#container {
	width: 80%;
	margin: auto;
	margin-top: 20px;
	padding: 20px;
}

#container > h1, #buttons, #inputView, #viewView {
	text-align: center;
}

#buttons > button {
	margin: 0 10px;
	margin-bottom: 15px;
	font-size: 18px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#inputView > div {
	margin: 7px;
}


#viewView span {
	margin: 0 20px;
}

#viewView > div {
	margin-top: 15px;
}

#displayView {
	width: 80%;
	margin: auto;
	margin-top: 20px;
}

.viewEntry {
	background-color: DeepSkyBlue;
	text-align: left;
	padding: 5px;
}

.viewEntry:hover {
	background-color: #4dd2ff	;
	cursor: pointer;
}

.viewEntry > p {
	margin: 0;
}

.amtAndDate {
	font-weight: lighter;
	font-style: italic;
}

img {
	height: 120px;
	width: 120px;
}

.dropdown-item label:hover{
	cursor: pointer;
}

.dropdown-item:hover{
	background-color: black;
	color: white;
}